# .coveragerc to control coverage.py
[run]
source = pyrtl

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # The standard pragma.
    pragma: no cover

    # ignore pass statements that are not run: sometimes you need them to make
    # a block (especially for unittests). Need to be really careful with these
    # regexes because 'pass' shows up in other places as well
    \spass\s
    \spass$

    # Ignore debug-only code.
    def __repr__
    if self\.debug

    # Ignore assertion code.
    raise AssertionError
    raise NotImplementedError
    raise PyrtlInternalError

    # Ignore exception error messages.
    \smsg =

    # Ignore unreachable code.
    if 0:
    if __name__ == .__main__.:

ignore_errors = True

omit =
    */tests/*
