*.py[cod]
__pycache__

# Packages
dist/

# Unit test / coverage reports
.coverage
coverage.xml

# Apple and Windows crap
.DS_Store
Thumbs.db

# Sphinx
_build/

# Jupyter
.ipynb_checkpoints
.jupyterlite.doit.db
_output/

# pycharm
.idea

# VS Code
.vscode
